@import '@/styles/mediaQueries';

.toolbar {
  margin-bottom: 40px;  

  &__search {
    width: 100%;    
    margin-bottom: 40px;

    @include tablet() {
      max-width: 500px;
      margin-bottom: 0;
    }
  }

  &__dropdown {
    width: 200px;
  }

  @include tablet() {
    display: flex;
    justify-content: space-between;  
  }
}

.card {
  height: 340px;
  max-width: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: $box-shadow-color;
  background-color: var(--color-elements);

  &__img {
    width: 100%;
    max-width: 300px;
    height: 170px;
    position: relative;
  }

  .info {
    display: flex;
    padding:  0 20px 20px;
    flex-direction: column;  
  
    &__title {
      font-size: 16px;
      font-weight: 800;
      margin: 20px 0;
    }
  
    .row {
      margin-bottom: 5px;
  
      &__label {
        font-weight: 600;
      }
    
      &__value {
        font-weight: 300;
      }
    }
  }
}

