.header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: $box-shadow-color;
  padding: 0 $horizontal-padding;
  justify-content: space-between;
  background-color: var(--color-elements);

  &__title {
    font-weight: 800;
  }
}