@import '@/styles/mediaQueries';

.mainContent {
  height: 100%;
  min-height: 100%;

  padding: $vertical-padding-content-responsive $horizontal-padding-responsive;

  @include mobile() {
    padding: $vertical-padding-content $horizontal-padding;
  }
}