@import '@/styles/mediaQueries';

.cardSelectedCountry {
  width: 100%;
  height: 400px;
  margin-top: $vertical-padding-content;  

  .colImg {
    .imgCountry {
      width: 100%;
      height: 170px;
      position: relative;

      @include mobile() {
        max-width: 300px;
      }
    }
  }  

  .colInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  .title {
    margin-bottom: 15px;
  }

  .title span {
    font-size: 20px;
    font-weight: 800;
  }

  .info {      
    @include smallTablet() {
      display: flex;
    }
  }

  .principalInfo {
    width: 50%;
    margin-bottom: 20px;

    @include smallTablet() {
      margin-right: 100px;
    }
  }

  .secondInfo {
    width: 50%;
    margin-bottom: 20px;
  }    

  .row {
    margin-bottom: 5px;

    &__label {
      font-weight: 600;
    }

    &__value {
      font-weight: 300;
    }
  }  
}
